@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
body {
    background-color: #191a2c;
    font-family: "Pretendard";
}
::-webkit-scrollbar {
    display: none;
}
